:root {
  --background-color: #121212;
  --primary-color: #ff9500;
  --secondary-color: #1c1c1e;
  --accent-color: #a970ff;
  --text-color: #e5e5e5;
  --danger-color: #e57373;
}

body {
  background-color: var(--background-color);
  font-family: sans-serif;
  color: var(--text-color);
}

main {
  width: 80%;
  margin: auto;
}

header {
  display: flex;
  justify-content: space-between;
}

#home-btn {
  background: none;
  color: var(--text-color);
  border: none;
  display: none;
}

#home-btn:hover {
  cursor: pointer;
  color: var(--primary-color);
}

body main #unit-converter-list {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  margin: 1em auto;
  gap: 24px;
}

#unit-converter-list .unit-thumb {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  height: 10em;
  gap: 1em;
  border-radius: 1em;
  cursor: pointer;
  transition: background-color 0.3 ease-in-out;
}

#unit-converter-list .unit-thumb:hover {
  background-color: var(--accent-color);
}

#unit-converter-list .unit-thumb:hover :is(i, span) {
  color: var(--text-color);
}

#unit-converter-list .unit-thumb i {
  font-size: 3em;
}

#unit-converter-list .unit-thumb span {
  font-size: 1em;
  font-weight: bold;
}

#unit-converter-main-container {
  display: none;
  padding: 1rem;
}

.error {
  background-color: var(--text-color);
  color: var(--background-color);
  grid-column: 1/4;
  padding: 0.5em;
  border-left: 1em solid var(--danger-color);
  border-radius: 0 0.5em 0.5em 0;
  word-wrap: break-word;
  white-space: pre-wrap;
}

@media (max-width: 768px) {
  body main #unit-converter-list {
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  }
}
